html,
body {
background-color: wheat;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #image{
      border-radius: 80%;
  }
  #btn{
      color:yellow;
      border-color:rgb(179, 238, 248);
      background-color:rgb(43, 200, 248);
      border-radius: 40%;
      border-width: 5px;
  }
  #btn:hover{
    color:white;
    border-color:rgb(179, 238, 248);
    background-color:rgb(43, 200, 248);
    border-radius: 40%;
    border-width: 50%;
  }